/* //fullstack_blackjack_vite/src/styles/base.css*/


*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Georgia', 'Times New Roman', Times, serif;

  background:
    linear-gradient(
      135deg,
      #0b1d0b,
      #145214,
      #1a1a1a,
      #2a2a2a,
      #bfa83c,
      #0e3f4d
    ),
    url('https://www.transparenttextures.com/patterns/fabric-of-squares.png');

  background-blend-mode: overlay;
  background-size: 500% 500%, cover;
  animation: casino-gradient-rotate 50s ease-in-out infinite;
}

/* Background animation only */
@keyframes casino-gradient-rotate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}