/* //fullstack_blackjack_vite/src/styles/components.css/modal.css */

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .modal-content {
    background-color: var(--color-white);
    padding: 2rem 3rem;
    border-radius: var(--border-radius-large);
    max-width: 400px;
    width: 90%;
    box-shadow: var(--box-shadow-medium);
    text-align: center;
  }

  .modal-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
  }

  .modal-btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    border:none;
    transition: background-color var(--animation-speed-normal) ease;
  }

  .modal-confirm {
    background-color: var(--color-green-success);
    color: var(--color-white);
  }

  .modal-confirm:hover {
    background-color: #218838; /* A slightly darker green */;
  }

  .modal-cancel {
    background-color: var(--color-red-error);
    color: var(--color-white);
  }

  .modal-cancel:hover {
    background-color : #c82333; /* A slightly darker red */
  }