/* app.css */

body, html, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Times new Roman', Times, serif;
  background-color: #0b6623;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  color: aliceblue;
}

button {
  margin: 0.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover{
  background-color: #ddd;
  transform: scale(1.05);
}