/* //src/app.css */

/* Base */
@import "./styles/variables.css";
@import "./styles/layout.css";

/* Components */
@import "./styles/navbar.css";
@import "./styles/modal.css";

/* If App needs any unique overrides, they go here */
/* Otherwise, this file can stay intentionally small */

.App {
  position: relative;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
