/* //fullstack_blackjack_vite/src/styles/base/layout.css */

.App {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: aliceblue;
  }




/* General Page Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-primary-green);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}
